# <a> Data Science in Projects - Project 1: Price Prediction, Deploy</a>

## Let's Data - Data Science Journey

*By Reginaldo Jr - <a>reginaldojr@yahoo.com</a>*

## Imports and Configurations

In [32]:
import pandas   as pd
import requests as req

In [33]:
#!python Handler.py

In [34]:
df = pd.read_csv('cardekho_imputated.csv', index_col=0)
df = df.drop(['car_name', 'model'], axis=1)
df.head()

,brand,min_cost_price,max_cost_price,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti,3.570039e+05,4.654015e+05,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai,7.110000e+05,7.480000e+05,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai,8.540829e+05,1.307926e+06,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti,3.570039e+05,4.654015e+05,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford,1.014000e+06,1.379000e+06,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [35]:
df_test = df.loc[0:1]
df_test["selling_price"]

0    120000
1    550000
Name: selling_price, dtype: int64

In [36]:
df_test.shape

(2, 13)

In [37]:
json = df_test.to_json(orient="records")
json

'[{"brand":"Maruti","min_cost_price":357003.861003861,"max_cost_price":465401.5444015444,"vehicle_age":9,"km_driven":120000,"seller_type":"Individual","fuel_type":"Petrol","transmission_type":"Manual","mileage":19.7,"engine":796,"max_power":46.3,"seats":5,"selling_price":120000},{"brand":"Hyundai","min_cost_price":711000.0,"max_cost_price":748000.0,"vehicle_age":5,"km_driven":20000,"seller_type":"Individual","fuel_type":"Petrol","transmission_type":"Manual","mileage":18.9,"engine":1197,"max_power":82.0,"seats":5,"selling_price":550000}]'

In [42]:
ret = req.get(url='http://localhost:5000/predict', data=json, headers={"Content-type":"application/json"})
ret

In [43]:
pd.DataFrame(ret.json())

,brand,min_cost_price,max_cost_price,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price,selling_price_pred
0,Maruti,357003.861004,465401.544402,9,120000,Individual,Petrol,Manual,19.7,796,46.3,5,120000,180883.333333
1,Hyundai,711000.000000,748000.000000,5,20000,Individual,Petrol,Manual,18.9,1197,82.0,5,550000,531850.000000